// CONSTANTS
$secondary-color: #f2ebe9;
$white-color: #fff;
$black-color: #000;

// GLOBAL
$color--primary: $secondary-color;
$background: #243a73;
$background-tablet: $background;
$color-pink: #fd57bf;
$color-yellow: #ffe838;

// NAV
$background-color--menu-toggler--hover: #7c3e66;
$background-color--menu-toggler-bar: linear-gradient(
  to left,
  $color-yellow,
  $color-pink
);
$background-color--nav: #16162d;
$color--nav-link--hover-1: $color-yellow;
$color--nav-link--hover-2: $color-pink;

// LANDING
$color--landing-heading-1: $color-yellow;
$color--landing-heading-2: $color-pink;
$color--timeline-border: rgb($white-color, 0.1);

// TIMELINE
$background-color--timeline-dot: $white-color;
$background-color--timeline: rgba($black-color, 0.05);
$border-color--timeline-dot: #fd57bf;
$border-color--timeline: #a5becc;
// $border-color--timeline: #ffe838;

// CONTACT
$background-color--contact-list: rgba($black-color, 0.05);

// FOOTER
$background-color--footer: #0f214f;

// SECTION
$color--section-title: rgba($white-color, 0.3);
$background-color--section-separator-line: rgba($white-color, 0.75);

// EXTERNAL LINK
$color--external-link: #a5becc;
$color--external-link-hover: #d2e2ec;
