// CONSTANTS
$secondary-color: #eee;
$white-color: #fff;

// GLOBAL
$color--primary: $secondary-color;
$background-color: #333362;

// NAV
$color--nav-link--hover: red;
$background-color--nav: #16162d;
$background-color--menu-toggler-bar: rgb(30, 156, 210);

// LANDING
$color--landing-heading: rgb(30, 156, 210);
$color--timeline-border: rgb($white-color, 0.1);

// TIMELINE
$background-color--timeline: rgba(#000, 0.05);
$border-color--timeline-dot: #fd57bf;
$background-color--timeline-dot: $white-color;

// CONTACT
$background-color--contact-list: rgba(#000, 0.05);

// SECTION
$color--section-title: rgba($white-color, 0.3);
$background-color--section-separator-line: rgba($white-color, 0.75);

// EXTERNAL LINK
$color--external-link: #3883ff;
$color--external-link-hover: #2f67cd;
