$font-family--primary: "Roboto", sans-serif;
$font-family--secondary: "The Historia Demo", sans-serif;
$font-family--tertiary: "Shadows Into Light", cursive;

$font-size--x-small: 1.3rem;
$font-size--small: 1.6rem;
$font-size--medium: 2rem;
$font-size--medium-large: 2.8rem;
$font-size--large: 3.6rem;
$font-size--x-large: 4.2rem;
$font-size--xx-large: 7.2rem;

$font-weight--light: 300;

$font-size--text: $font-size--medium;

$font-weight--text: $font-weight--light;
