@use "../abstracts" as *;

.about {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
  justify-content: center;

  &-image {
    border-radius: 100%;
    box-shadow: -5px 10px 20px 0 rgba(#000, 0.4);
    flex: 1;

    @include devices(laptopOnly) {
      max-width: 70%;
    }

    @include devices(mobile) {
      flex-direction: column;
    }
  }

  &-content {
    flex: 1;
  }

  &-heading {
    margin-bottom: 6rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 0;

    & h2 {
      font-size: $font-size--about-heading;
      opacity: 0.3;

      @include devices(tablet) {
        font-size: $font-size--about-heading-tablet;
      }
    }

    & p {
      font-size: $font-size--about-tagline;
      font-weight: $font-weight--light;
    }
  }

  &-description {
    text-align: justify;
    text-indent: 3rem;
    line-height: 1.4;
  }
}
