@use "../abstracts" as *;

.contact {
  &-list {
    background-color: $background-color--contact-list;
    border-radius: 0.8rem;
    margin-inline: auto;
    padding: 5rem 3rem;
    text-align: start;
    width: 60%;

    @include devices(laptopOnly) {
      width: 70%;
    }
  }

  &-item {
    align-items: center;
    border-bottom: 1px solid $color--timeline-border;
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(3rem, 1fr) 2.5fr;
    margin-bottom: 1.5rem;
    margin-inline: 7rem;
    padding-bottom: 1.5rem;

    @include devices(laptopOnly) {
      margin-inline: 3.5rem;
    }

    @include devices(tablet) {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-inline: auto;
    }

    &:last-of-type {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &-label {
    font-size: $font-size--contact-label;
    font-weight: $font-weight--light;
    margin-inline-start: 1rem;
    text-align: start;

    @include devices(mobile) {
      margin-inline-start: 0;
    }
  }

  &-value {
    font-size: $font-size--contact-value;
    font-weight: $font-weight--light;
  }
}
