@use "../abstracts" as *;

.external-link {
  color: $color--external-link;
  display: block;
  font-size: $font-size--external-link;
  line-height: 1.5;
  transition: color 650m;
  width: fit-content;

  &:hover {
    color: $color--external-link-hover;
  }
}
