@use "../abstracts" as *;

.footer {
  background-color: $background-color--footer;
  width: 100%;

  &-copyright {
    font-size: $font-size--footer-copyright;
    padding-block: 3rem;
    text-align: center;
  }
}
