@use "../abstracts" as *;

.header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
  z-index: 20;

  &-heading {
    @include gradient-color(to top, $yellow-color, $pink-color);
    font-family: $font-family--landing-heading;
    font-size: $font-size--landing-heading;
    padding-block: 5rem;
    user-select: none;
    padding-inline: 5rem;

    @include devices(laptop) {
      font-size: $font-size--landing-heading-laptop;
    }
    @include devices(mobile) {
      font-size: $font-size--landing-heading-mobile;
    }
  }

  &-tagline {
    font-size: $font-size--landing-tagline;
    font-weight: $font-weight--light;

    @include devices(tablet) {
      font-size: $font-size--landing-tagline-tablet;
    }
    @include devices(mobile) {
      font-size: $font-size--landing-tagline-mobile;
    }
  }
}
