@use "../abstracts" as *;

.landing {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
  z-index: 20;

  &-heading {
    background: $color--landing-heading;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $font-family--landing-heading;
    font-size: $font-size--landing-heading;
    padding: 5rem;
    user-select: none;
  }

  &-tagline {
    font-size: $font-size--landing-tagline;
    font-weight: $font-weight--light;
  }
}
