@use "../abstracts" as *;

.menu-toggler {
  aspect-ratio: 1/1;
  cursor: pointer;
  direction: ltr;
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: space-around;
  left: 5rem;
  position: fixed;
  top: 5rem;
  z-index: 100;

  @include devices(mobile) {
    top: 2rem;
    left: 2rem;
  }

  .bar {
    background: $background-color--menu-toggler-bar;
    border-radius: 0.8rem;
    height: 5px;
    width: 100%;
    transition: background 250ms;

    &.half {
      width: 50%;
    }

    &.start {
      align-self: flex-start;
      transform-origin: right;
      transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    }

    &.end {
      align-self: flex-end;
      transform-origin: left;
      transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    }
  }

  &.active {
    transform: rotate(-45deg);
    .bar {
      background: $background-color--menu-toggler--hover;
    }

    & .start {
      transform: rotate(-450deg) translateX(0.8rem);
    }

    & .end {
      transform: rotate(-450deg) translateX(-0.8rem);
    }
  }
}
