@use "../abstracts" as *;

.project {
  align-items: center;
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-bottom: 5rem;

  @include devices(mobile) {
    flex-direction: column;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-image {
    flex: 1;

    &.right {
      order: 3;

      @include devices(mobile) {
        order: initial;
      }
    }
  }

  &-description {
    flex: 1;
  }

  &-name {
    font-size: $font-size--project-name;
    font-weight: $font-weight--light;
    opacity: 0.3;
    text-transform: uppercase;
  }

  &-title {
    font-size: $font-size--project-title;
    font-weight: $font-weight--light;
    margin-block: 1rem;
  }

  &-about {
    font-size: $font-size--project-about;
    margin-bottom: 1.5rem;
  }
}
