@use "../abstracts" as *;

.project {
  align-items: center;
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-bottom: 5rem;

  @include devices(tablet) {
    flex-direction: column;
    gap: 3rem;
  }

  @include devices(mobile) {
    &-image {
      width: 125%;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-image {
    flex: 1;
    max-width: 100%;

    img {
      border-radius: 10px;
      box-shadow: -10px 15px 25px 0 rgba(#000, 0.2);
      display: block;
      filter: grayscale(100%) contrast(120%);
      object-fit: cover;
      transition: all 250ms;
    }

    .image-glow {
      border-radius: 10px;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;

      &::before {
        background: rgba(#fff, 0.2);
        content: "";
        display: block;
        filter: blur(5px);
        height: 250%;
        position: absolute;
        top: 0;
        transform: rotate(45deg) translate(-400%, -30%);
        transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
        width: 20%;
      }
    }

    &.right {
      order: 3;
      img {
        box-shadow: 10px 15px 25px 0 rgba(#000, 0.2);
      }

      @include devices(tablet) {
        order: initial;
      }
    }
  }

  &:hover {
    img {
      box-shadow: 0px 0px 20px 5px rgba(#000, 0.2);
      filter: none;
    }
    .image-glow {
      &::before {
        transform: rotate(45deg) translate(450%, -30%);
        transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }
  }

  &-description {
    flex: 1;
  }

  &-name {
    font-size: $font-size--project-name;
    font-weight: $font-weight--light;
    opacity: 0.3;
    text-transform: uppercase;
  }

  &-title {
    font-size: $font-size--project-title;
    font-weight: $font-weight--light;
    margin-block: 1rem;
  }

  &-about {
    font-size: $font-size--project-about;
    line-height: 1.25;
    margin-bottom: 1rem;
    text-align: justify;
    text-indent: 1.5rem;
  }

  &-stack {
    @extend .project-about;
    padding-inline-start: 1.5rem;
    text-indent: -1.5rem;
  }
}
