@use "../abstracts" as *;

.section {
  &-heading {
    margin-bottom: 10rem;
    text-align: center;

    @include devices(mobile) {
      margin-bottom: 5rem;
    }
  }

  &-title {
    color: $color--section-title;
    font-size: $font-size--section-title;
    font-weight: $font-weight--light;
    margin-bottom: 1rem;
    position: relative;
    text-transform: uppercase;

    @include devices(tablet) {
      font-size: $font-size--section-title-tablet;
    }

    &::before,
    &::after {
      background-color: $background-color--section-separator-line;
      bottom: -0.5rem;
      content: "";
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }

    &::before {
      border-radius: 0.8rem;
      height: 3px;
      width: 10rem;
    }

    &::after {
      aspect-ratio: 1/1;
      border-radius: 100%;
      bottom: -1rem;
      width: 1.5rem;
    }
  }

  &-tagline {
    font-size: $font-size--section-tagline;
    font-weight: $font-weight--light;
  }
}
