@use "../abstracts" as *;

.skills {
  min-width: 20rem;
  padding: 2rem 2rem;

  @include devices(mobile) {
    padding: 0rem;
  }

  &-heading {
    border-bottom: 1px solid $background-color--section-separator-line;
    font-size: $font-size--skill-heading;
    letter-spacing: 2px;
    margin-block: 2rem;
    padding-bottom: 1rem;
    position: relative;
    text-align: start;
    text-transform: uppercase;
    width: max-content;

    @include devices(mobile) {
      margin-inline: auto;
      text-align: center;
      width: fit-content;
    }
  }

  &-list {
    font-size: $font-size--skill-list;
    list-style-type: "-  ";
    margin-inline-start: 1.5rem;
    text-align: start;

    @include devices(mobile) {
      list-style-type: none;
    }
  }

  &-item {
    margin-bottom: 0.75rem;
    width: max-content;

    @include devices(mobile) {
      margin-inline: auto;
      text-align: center;
      width: fit-content;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
