@use "../abstracts" as *;

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  list-style-type: none;

  @include devices(laptop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include devices(mobile) {
    gap: 4rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
