@use "../abstracts" as *;

.skills {
  min-width: 30rem;
  padding: 2rem;

  @include devices(mobile) {
    padding: 0rem;
  }

  &-heading {
    font-size: $font-size--skill-heading;
    letter-spacing: 2px;
    margin: 2rem -2px 3.5rem 0;
    text-align: start;
    text-transform: uppercase;
    width: 75%;
    position: relative;

    @include devices(mobile) {
      margin-block: 0 1.5rem;
      text-align: center;
    }

    &::before {
      background-color: $background-color--section-separator-line;
      border-radius: 0.8rem;
      content: "";
      height: 1px;
      position: absolute;
      width: 0.75;
      bottom: -1rem;
    }
  }

  &-list {
    font-size: $font-size--skill-list;
    list-style-type: "-  ";
    margin-inline-start: 1.5rem;
    text-align: start;

    @include devices(mobile) {
      text-align: center;
      list-style-type: none;
    }
  }

  &-item {
    text-transform: full-width;
    margin-bottom: 0.75rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
