@use "../abstracts" as *;

.event {
  border-bottom: 1px solid $color--timeline-border;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;

  &:last-of-type {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &::before {
    content: attr(data-date);
    font-size: $font-size--timeline-date;
    margin-inline-start: -15.4rem;
    min-width: 12rem;
    position: absolute;
    text-align: start;
  }

  &::after {
    aspect-ratio: 1/1;
    background-color: $background-color--timeline-dot;
    border-radius: 100%;
    box-shadow: 0 0 0 4px $border-color--timeline-dot;
    content: "";
    height: 1.5rem;
    margin-inline-start: -6rem;
    position: absolute;
  }

  &-title {
    font-size: $font-size--timeline-title;
    font-weight: $font-weight--light;
    margin-top: 1rem;
    opacity: 0.3;
    text-transform: uppercase;
  }

  &-company {
    font-size: $font-size--timeline-company;
    font-weight: $font-weight--light;
    margin-block: 0.125rem 0.75rem;
    opacity: 0.6;
    text-transform: uppercase;
  }

  &-description {
    font-size: $font-size--timeline-description;
    text-indent: 2rem;
    line-height: 1.35;
  }

  &-links {
    margin-top: 0.5rem;
  }
}
