@use "../abstracts" as *;

.event {
  border-bottom: 1px solid $color--timeline-border;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;

  &:last-of-type {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &-date {
    font-size: $font-size--timeline-date;
    margin-inline-start: -15.4rem;
    min-width: 12rem;
    position: absolute;

    @include devices(mobile) {
      font-size: $font-size--timeline-date-mobile;
      position: initial;
      margin-inline-start: initial;
      margin-bottom: 0.5rem;
    }
  }

  &::after {
    aspect-ratio: 1/1;
    background-color: $background-color--timeline-dot;
    border-radius: 100%;
    box-shadow: 0 0 0 4px $border-color--timeline-dot;
    content: "";
    height: 1.5rem;
    margin-inline-start: -6rem;
    position: absolute;

    @include devices(mobile) {
      margin-inline-start: -4rem;
    }
  }

  &-title {
    font-size: $font-size--timeline-title;
    font-weight: $font-weight--light;
    margin-block: 1rem 0.125rem;
    opacity: 0.3;
    text-transform: uppercase;
  }

  &-company {
    font-size: $font-size--timeline-company;
    font-weight: $font-weight--light;
    margin-bottom: 0.75rem;
    opacity: 0.6;
    text-transform: uppercase;
  }

  &-description {
    font-size: $font-size--timeline-description;
    text-align: justify;
    text-indent: 2rem;
    line-height: 1.4;

    @include devices(mobile) {
      font-size: $font-size--timeline-description-mobile;
    }
  }

  &-links {
    margin-top: 0.5rem;
  }
}
