@use "./abstracts" as *;

.contact {
  &-list {
    background-color: $background-color--contact-list;
    border-radius: 0.8rem;
    margin-inline: auto;
    padding: 5rem 3rem;
    text-align: start;
    width: 60%;
  }

  &-item {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(3rem, 1fr) 2.5fr;
    margin-bottom: 2rem;
    margin-inline-start: 7rem;
  }

  &-item:last-child {
    margin-bottom: 0;
  }

  &-label {
    font-size: $font-size--contact-label;
    font-weight: $font-weight--light;
    text-align: start;
  }

  &-value {
    font-size: 1$font-size--contact-value;
    font-weight: $font-weight--light;
  }
}
