@use "./abstracts" as *;

.footer {
  &-copyright {
    background-color: #16162d;
    font-size: $font-size--footer-copyright;
    padding-block: 3rem;
    text-align: center;
    width: 100%;
  }
}
