@use "./abstracts" as *;

html {
  font-size: 62.5%;
  font-family: $font-family--primary;
  color: $color--text-primary;
}

body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: color--text-primary;
}

p {
  font-size: $font-size--text;
  font-weight: $font-weight--text;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

section {
  padding: 6rem;
}

.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
