@use "./abstracts" as *;

.nav {
  background-color: $background-color--nav;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
  width: 100%;
  z-index: 75;

  &.active {
    border-radius: initial;
    top: 0;
  }

  &-list {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    li {
      list-style-type: none;
      margin-inline: 2rem;
    }
  }

  &-link {
    cursor: pointer;
    font-family: $font-family--nav-link;
    font-size: $font-size--nav-link;
    padding: 1rem;

    &:hover,
    &:focus {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-color: $color--nav-link--hover;
    }
  }
}
