.item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  gap: 5rem;

  &:last-child {
    margin-bottom: 0;
  }

  &-image {
    flex: 1;

    &.right {
      order: 1;
    }
  }

  &-description {
    flex: 1;
  }

  &-name {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
  }

  &-title {
    font-size: 3rem;
    font-weight: 300;
    margin-block: 1rem;
  }

  &-about {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }
}
