@use "./abstracts" as *;

.skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  &-heading {
    font-size: $font-size--skill-heading;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
    text-transform: uppercase;
  }

  &-list {
    font-size: $font-size--skill-list;
    list-style-type: "-  ";
    padding-inline: 25%;
    text-align: start;
  }

  &-item {
    text-transform: full-width;
  }
}
