@use "./abstracts" as *;

.timeline {
  background-color: $background-color--timeline;
  border-inline-start: 4px solid $border-color--timeline;
  border-radius: 0.8rem;
  margin-inline: auto;
  padding: 5rem;
  position: relative;
  text-align: start;
  width: 70%;
}
