@use "./abstracts" as *;

.event {
  position: relative;
  border-bottom: 1px solid $color--timeline-border;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }

  &::before {
    position: absolute;
    content: attr(data-date);
    margin-inline-start: -15.4rem;
    text-align: start;
    min-width: 12rem;
    font-size: $font-size--timeline-date;
  }

  &::after {
    position: absolute;
    content: "";
    box-shadow: 0 0 0 4px $border-color--timeline-dot;
    border-radius: 100%;
    margin-inline-start: -6rem;
    height: 1.5rem;
    aspect-ratio: 1/1;
    background-color: $background-color--timeline-dot;
  }

  &-title {
    font-size: $font-size--timeline-title;
    text-transform: uppercase;
    font-weight: $font-weight--light;
    margin-top: 1rem;
    opacity: 0.3;
  }

  &-company {
    @extend .event-title;
    margin-block: 0.125rem 0.25rem;
    font-size: $font-size--timeline-company;
    font-weight: $font-weight--light;
    opacity: 0.6;
  }

  &-description {
    font-size: $font-size--timeline-description;
    text-indent: 2rem;
  }
}
